.headers_table {
white-space: nowrap;
font-size: 12px;
text-align: center;
border-collapse:collapse;
margin: auto;
}

.headers_table tr , td {
border: 1px solid black;
text-align: center;
width:10vw;
}

hr {
		height: 1px;
        background-color: black;
        border: none;
}
label {
	color:red;
}
.center {
	position: relative;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	height:35vh;
	width:40vw;
	border:1px solid black;
	display: table;
}

.center_div_elements {
	display: table-cell;
	vertical-align: middle;
	text-align:center
}