* {
	padding: 0;
	margin: 0;
}

.container-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #000000;
}

.loader {
	border-top: 10px solid #ffec21;
	border-bottom: 10px solid #ffec21;
	border-left: 10px solid #000000;
	border-right: 10px solid #000000;
	border-radius: 50%;
	background: transperent;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	box-shadow: inset 0 0 10px #fff,
    inset 0 0 20px #ffec21;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}